<!-- wp:template-part {"slug":"header","theme":"my-theme","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|80","right":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"theme-background-color","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-theme-background-color-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--80)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"base","layout":{"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group alignwide has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|theme-text"}}}},"textColor":"theme-text"} -->
    <h1 class="wp-block-heading has-theme-text-color has-text-color has-link-color"><strong>ALL POSTS:</strong></h1>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:query {"queryId":24,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"metadata":{"categories":["posts"],"patternName":"core/query-standard-posts","name":"Standard"},"align":"wide"} -->
    <div class="wp-block-query alignwide"><!-- wp:post-template -->
    <!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide has-base-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|50","bottom":"var:preset|spacing|30"},"margin":{"top":"0","bottom":"0"},"blockGap":{"top":"0","left":"0"}}}} -->
    <div class="wp-block-columns alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--50)"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-title {"level":1,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","fontSize":"36px"}},"fontFamily":"montserrat"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"},"elements":{"link":{"color":{"text":"var:preset|color|theme-text"}}},"typography":{"fontSize":"18px","fontStyle":"normal","fontWeight":"700"}},"textColor":"theme-text","fontFamily":"pt-sans","layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group has-theme-text-color has-text-color has-link-color has-pt-sans-font-family" style="font-size:18px;font-style:normal;font-weight:700"><!-- wp:group {"style":{"border":{"radius":"46px","width":"1px"},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="border-width:1px;border-radius:46px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:avatar {"size":24,"isLink":true,"style":{"color":{"duotone":"unset"}}} /-->
    
    <!-- wp:post-author-name {"isLink":true,"style":{"typography":{"fontSize":"18px","fontStyle":"normal","fontWeight":"700"}},"fontFamily":"pt-sans"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"base","layout":{"type":"constrained","justifyContent":"left"}} -->
    <div class="wp-block-group alignwide has-base-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:post-excerpt /-->
    
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|variant-6"}}}},"textColor":"variant-6"} -->
    <p class="has-variant-6-color has-text-color has-link-color">Share</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:social-links -->
    <ul class="wp-block-social-links"><!-- wp:social-link {"url":"facebook.com","service":"facebook","className":"social-icon social-icon-hover"} /-->
    
    <!-- wp:social-link {"url":"x.com","service":"twitter","className":"social-icon social-icon-hover"} /-->
    
    <!-- wp:social-link {"url":"linkedin.com","service":"linkedin","className":"social-icon social-icon-hover"} /-->
    
    <!-- wp:social-link {"url":"#","service":"chain","className":"social-icon social-icon-hover"} /--></ul>
    <!-- /wp:social-links --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"align":"center","style":{"elements":{"link":{"color":{"text":"#7c7979"}}}},"backgroundColor":"base","layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"my-theme","area":"footer"} /-->