/* Styles */
.social-icon{
    color: #fff;
    background-color: #a1a1a1;
}

.social-icon:hover {
    background-color:#0866ff;
    color: white;
}

footer .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    /* padding-left:2px ; */
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;

    justify-content: center;
    align-items: center;
    border: 2px solid rgba(243, 155, 78, 1);
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    background-color: transparent;
    /* position: relative; */
}

footer .icon:hover {
    background-color: rgba(243, 155, 78, 1);
    color: white;
}
.navbar .nav-link {
    text-decoration: none;
    color: #333;
    /* padding: 10px 15px; */
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}
.navbar .nav-link:hover {
    background-color: #f8f9fa;
    color: #000;
}

/* Active state */
.navbar .nav-link.active {
    background-color: #DC3636;
    color: white;
}
